body {


    background-image:url(APRESENTAÇÕES\ COMERCIAL\ \ PARCEIROS\ \ BDR.png  )

             font-family Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: hsl(0, 0%, 32%);
    text-size-adjust: 50%;
    
}

p {
    margin: 1em 0;
    color:hsl(0, 0%, 32%);
}

img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
}